[submodule "subprojects/ssc"]
	path = subprojects/ssc
	url = https://github.com/RafaGago/ssc.git
[submodule "gitmodules/luajit"]
	path = gitmodules/luajit
	url = http://luajit.org/git/luajit-2.0.git
[submodule "subprojects/base_library"]
	path = subprojects/base_library
	url = https://github.com/RafaGago/base_library.git
